# ROS2/CMake build artifacts
build/
install/
log/

# ROS2 launch logs
launch/*.pyc

# VS Code Settings
.vscode/

# Python Cache Files
__pycache__/
*.pyc
*.pyo

# Colcon Metadata
.colcon/

# Any temporary files
*.swp
*.swo
*~

